// Responsive
desktop-base-width     = 1080px
rupture.desktop-cutoff = $tablet = 1180px
rupture.mobile-cutoff  = $mobile = 710px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$marrom = #62422D
$bege   = #F0E6DC

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600')
raleway($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Raleway', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == semibold
        font-weight 500
    if $weight == bold
        font-weight 600