header
    width 100%
    height 105px
    background #fff
    position relative
    .center
        clearfix()
        height 100%
        position static
    h1
        display block
        float left
        margin 0
        padding 0
        width 240px
        height 100%
        a
            width 100%
            height 100%
            display block
            background $img('logo.png') no-repeat center
            text-indent -9999px
        +mobile()
            width 70%
            max-width 240px
            a
                background-size 100% auto
    nav#nav-desktop
        float right
        height 100%
        +below($mobile)
            display none
        a
            raleway 16 semibold
            display block
            float left
            height 100%
            line-height 105px
            color $marrom
            margin-left 40px
            text-decoration none
            border-bottom 4px solid transparent
            transition border .3s
            &:hover
            &.active
                border-bottom 4px solid $marrom
    nav#nav-mobile
        +above($mobile)
            display none !important
        display none
        position absolute
        width 100%
        background darken($marrom, 10)
        border-bottom 4px solid darken($marrom, 12)
        padding 25px 0
        text-align center
        z-index 9999
        a
            display block
            color rgba($bege, .9)
            raleway 15 semibold
            text-transform uppercase
            text-decoration none
            padding 8px 0
            &.active
                color #fff
                raleway 15 bold
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position absolute
        top 0
        right 5%
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 6%
        .lines
            display block
            width 100%
            height 4px
            background $marrom
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $marrom
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

.home
    header
        display none
        +mobile()
            display block
    footer
        background $marrom
        .col
            color $bege
            .email
                color $bege
            .social
                &.social-facebook
                    background-image $img('facebook.png')
                &.social-instagram
                    background-image $img('instagram.png')
    .copyright
        background $bege
        color rgba($marrom, .6)
        a
            color rgba($marrom, .8)
            &:hover
                color $marrom

footer
    background $bege
    overflow hidden
    .center
        clearfix()
        height 100%
        position relative
    .col
        width 50%
        float left
        text-align center
        color $marrom
        padding 70px 0
        raleway 15 semibold
        +mobile()
            width 100%
            float none
            padding 30px 0
        +tablet()
            padding 50px 0
        .telefone
            margin-bottom 20px
            margin-top 0
        .email
            color $marrom
            text-decoration none
            display block
            font-size 16px
            +tablet()
                font-size 15px
        .social
            display inline-block
            width 22px
            height 22px
            text-indent -9999px
            margin 20px 5px 0
            &.social-facebook
                background $img('facebook2.png') no-repeat center
            &.social-instagram
                background $img('instagram2.png') no-repeat center
        &.col-orcamento
            position absolute
            right 0
            top 0
            background #fff
            height 100%
            padding 0
            &:after
                content ""
                position absolute
                width 2000px
                height 100%
                left 100%
                top 0
                background #fff
            .orcamento-wrapper
                position absolute
                display table
                width 100%
                height 100%
                top 0
                left 0
                .orcamento
                    display table-cell
                    vertical-align middle
                    a
                        display inline-block
                        width 80%
                        raleway 16 semibold
                        color $marrom
                        text-decoration none
                        border 4px solid $bege
                        padding 14px 0
                        transition border .3s
                        &:hover
                            border-color $marrom
            +mobile()
                position relative
                width 100%
                &:before
                    content ""
                    position absolute
                    width 2000px
                    height 100%
                    right -100%
                    background #fff
                .orcamento-wrapper
                    position relative
                    .orcamento
                        padding 20px 0
                        a
                            width 100%

.main
    background $marrom
    padding 60px 0
    +tablet()
        padding 45px 0
    +mobile()
        padding 30px 0
    &.not-found
        padding 25vh 0 25vh
        text-align center
        h1
            display inline-block
            raleway 13 bold
            color $bege
            text-transform uppercase
            border 2px solid $bege
            padding 15px
        +below($mobile)
            padding 15vh 0 15vh

.copyright
    background $marrom
    clearfix()
    padding 20px 0
    raleway 11
    color rgba($bege, .6)
    p
        margin 0
        padding 0
        float left
        display inline-block
        text-transform none
        +below($tablet)
            float none !important
            width 100%
            text-align center
            margin 2px 0
        &:last-child
            float right
        a
            color rgba($bege, .8)
            text-decoration none
            transition color .3s
            &:hover
                color #fff