.clipping
    &.clipping-index
        clearfix()
        a
            display block
            width 18.055%
            margin-right 2.4305%
            margin-bottom 2.4305%
            float left
            &:nth-child(5n)
                margin-right 0
            img
                display block
                width 100%
                height auto
            +tablet()
                width 23.1771%
                &:nth-child(5n)
                    margin-right 2.4305%
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width 31.713%
                &:nth-child(5n)
                    margin-right 2.4305%
                &:nth-child(3n)
                    margin-right 0
    &.clipping-show
        background $bege
        padding 0
        .clipping-title
            text-align center
            h2
                raleway 22 bold
                color $marrom
                margin 0
                padding 2em .5em
                +tablet()
                    font-size 20px
                +mobile()
                    font-size 18px

.slideshow
    width 100%
    height 920px
    position relative
    .slide
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background-repeat no-repeat
        background-position center
        background-size auto 100%
    .center
        position absolute
        height 100%
        left 0
        right 0
        top 0
        marign 0 auto
    .controls
        position absolute
        width 50%
        height 100%
        top 0
        cursor pointer
        z-index 101
        transition background .3s
        &.controls-prev
            left 0
            background $img('seta-esq.png') no-repeat left center
            &:hover
                background-image $img('seta-esq-hover.png')
        &.controls-next
            right 0
            background $img('seta-dir.png') no-repeat right center
            &:hover
                background-image $img('seta-dir-hover.png')
        +below($tablet)
            opacity 1
        +mobile()
            background-size 50px auto !important

.voltar
    text-align center
    background $bege
    a
        display inline-block
        raleway 16 semibold
        color #fff
        border 4px solid #fff
        padding 1em 5em
        text-decoration none
        transition border .3s, color .3s
        margin 3em 0
        &:hover
            border-color $marrom
            color $marrom