.contato
    clearfix()
    .info
        width 50%
        float left
        .telefone
            margin 0 0 12px
            raleway 24 semibold
            color $bege
        .email
            color $bege
            raleway 16
            text-decoration none
            transition color .3s
            &:hover
                color #fff
        +mobile()
            width 100%
            float none
            margin-bottom 25px
            text-align center
    form
        width 50%
        float left
        ::-webkit-input-placeholder
           color rgba(#fff, .8)
        :-moz-placeholder
           color rgba(#fff, .8)
        ::-moz-placeholder
           color rgba(#fff, .8)
        :-ms-input-placeholder
           color: rgba(#fff, .8)
        +mobile()
            width 100%
            float none
        input
        textarea
            display block
            width 100%
            border 4px solid #fff
            background transparent
            margin-bottom 2%
            outline 0
            padding 15px
            raleway 15 semibold
            color #fff
            &#nome
                width 49%
                float left
                +mobile()
                    width 100%
                    float none
            &#email
                width 49%
                float right
                +mobile()
                    width 100%
                    float none
            &[type='submit']
                color $bege
                text-transform uppercase
                transition background .3s, color .3s
                &:hover
                    background #fff
                    color $marrom
        #form-contato-response
            display none
            margin-top 2%
            width 100%
            background darken($marrom, 10)
            text-align center
            padding 15px
            color $bege
            raleway 13 bold
        textarea
            height 200px
            resize none