.home-banner
    width 100%
    height 675px
    position relative
    +tablet()
        height 500px
    +mobile()
        height 300px
    .banners
        position absolute
        z-index -1
        top 0
        left 0
        width 100%
        height 100%
        background $bege
        .banner
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-size cover
            background-position center
            &:after
                content ""
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($marrom, .5)
    .center
        position relative
        height 100%
        +mobile()
            display none
        .home-box
            position absolute
            width 90%
            height 70%
            top 15%
            left 5%
            border 4px solid #fff
            h1
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                background $img('logo-home.png') no-repeat center
                text-indent -9999px
            #home-nav-toggle
                position relative
                display block
                background-color transparent
                border 0
                height 30px
                width 30px
                outline 0
                padding 0
                margin 15px auto 0
                z-index 101
                .lines
                    display block
                    width 100%
                    height 4px
                    background #fff
                    position relative
                    transition .3s ease
                    border-radius 2px
                    &:before
                    &:after
                        content ""
                        display block
                        position absolute
                        left 0
                        width 100%
                        height 4px
                        border-radius 2px
                        background #fff
                        transition .3s ease
                    &:before
                        top 7px
                    &:after
                        top -7px
                &.close
                    .lines
                        background transparent
                        &:before
                        &:after
                            transform-origin 50% 50%
                            top 0
                        &:before
                            transform rotate3d(0,0,1,45deg)
                        &:after
                            transform rotate3d(0,0,1,-45deg)
            #nav-home
                position relative
                display none
                width 100%
                text-align center
                margin-top 15px
                z-index 102
                a
                    color #fff
                    text-decoration none
                    transition color .3s
                    raleway 15 bold
                    margin 0 12px
                    &:hover
                        color darken($bege, 10)
                    &.social
                        display inline-block
                        width 15px
                        height 15px
                        text-indent -9999px
                        &.social-facebook
                            background $img('facebook3.png') no-repeat center
                        &.social-instagram
                            background $img('instagram3.png') no-repeat center
                            margin-left 0