.perfil
    padding 0
    clearfix()
    .texto
        width 45%
        float left
        padding-top 100px
        p
            raleway 22 light
            line-height 1.4
            color $bege
        +tablet()
            padding-top 40px
            p
                font-size 17px
        +mobile()
            width 100%
            float none
            padding 20px 0
            p
                font-size 16px
    .imagem
        width 50%
        float right
        img
            display block
            max-width 100%
            height auto
        +mobile()
            width 100%
            float none
            margin 0 auto