.projetos
    padding-top 0
    &.projetos-index
        clearfix()
        background $bege
        .projetos-categorias
            margin 2.5% 0
            position relative
            +below($tablet)
                margin 5% 0
            clearfix()
            > a
            > div > a
                position relative
                display block
                z-index 2
                color $marrom
                raleway 16 bold
                text-decoration none
                margin-bottom 1em
                +mobile()
                    margin-bottom .75em
                &.open + .subcategorias
                    display inline-block !important
                &.has-sub
                    display inline-block
                    +mobile()
                        display block
                        &.open
                            margin-bottom 3px
            a
                opacity .7
                transition opacity .3s
                &.active
                &:hover
                    opacity 1
            > a:last-of-type
                margin-bottom 0
            .subcategorias
                display none
                position relative
                z-index 2
                border-left 2px solid $marrom
                margin-left 25px
                padding-left 25px
                a
                    color $marrom
                    text-decoration none
                    raleway 16 bold
                    margin-right 15px
                    white-space nowrap
                +tablet()
                    margin-left 20px
                    padding-left 20px
                    a
                        raleway 15
                        margin-right 12px
                +mobile()
                    margin 0 0 .75em
                    border 0
                    padding 10px
                    background $marrom
                    a
                        color $bege
                        raleway 13
                        margin-right 10px
                        &:last-child
                            margin 0
            .categoria-selecionada
                position absolute
                bottom -10px
                right 0
                color #fff
                raleway 120 light
                user-select none
                cursor default
                +tablet()
                    font-size 70px
                +mobile()
                    display none
        .projetos-list
            display flex
            flex-wrap wrap
            a
                display inline-block
                vertical-align top
                float left
                margin-right 2.3%
                text-decoration none
                margin-bottom 50px
                width 48.85%
                &:hover span
                    color darken($marrom, 10)
                &:nth-child(2n)
                    margin-right 0
                +tablet()
                    margin-bottom 30px
                +mobile()
                    width 100%
                    margin-right 0
                    margin-bottom 25px
                .image-wrapper
                    overflow hidden
                img
                    width 100%
                    height auto
                    display block
                    transition transform .5s ease
                    backface-visibility hidden
                span
                    display block
                    raleway 14 bold
                    line-height 1.3
                    color rgba($marrom, .8)
                    margin-top 12px
                    transition color .3s
    &.projetos-show
        background $bege
        padding 0
        .projetos-title
            text-align left
            padding 44px 0
            clearfix()
            +tablet()
                padding 40px 0
            +mobile()
                padding 30px 0
                text-align center
            h2
                raleway 22 bold
                color $marrom
                margin 0
                width 20%
                float left
                +tablet()
                    font-size 20px
                +mobile()
                    font-size 18px
                    width 100%
                    float none
            p
                width 70%
                float right
                margin 0
                raleway 16 light
                color $marrom
                line-height 1.5
                +tablet()
                    font-size 15px
                +mobile()
                    raleway 14
                    width 100%
                    float none
                    margin-top 1em